.wrap{width:100%;height:100%;}
p,span{font-weight:500;}

/* topbar */
.original_header{position:fixed;z-index:99;width:100%;top:0;transition: all 0.3s;}
.change_header{position:fixed;z-index:99;width:100%;top:0;background:#fff; transition: all 0.3s;}
.tabbar_wrap{display:flex;justify-content:space-between;width:100%;margin:0 auto;box-sizing:border-box;padding:40px 0;max-width:1280px;transition:all 0.3s;}
.change_header .tabbar_wrap{padding:20px 0;transition:all 0.3s;align-items:center;}
.tabbar_wrap .top_logo{width:150px;}
.tabbar_wrap .top_menu{display:flex;align-items:center;}
.tabbar_wrap .top_menu a{color:#fff;}
.change_header .tabbar_wrap .top_menu a{color:#212b36 !important;}
.top_logochange{display:none;}
.change_header .top_logo{display:none;}
.change_header .top_logochange{display:block;width:150px;}
.top_menu .connect_btn{font-size:14px;margin-left:30px;cursor: pointer;border-radius:8px;color:#fff;background:#00ab55;border:none;box-sizing:border-box;padding: 8px 11px;}
.mobile_menu{display:none;}
.hide_menu{position:absolute;right: 20px; background:#fff;top:60px;box-sizing:border-box;padding:10px 0;border-radius:8px;width:220px;display:block;}
.arrow_box{background:#fff;text-indent:-99999px;display:block;position: absolute;width:16px;height:16px;top:-8px;right:13px;transform:rotate(45deg);}
.hide_menu ul li{box-sizing:border-box;padding:5px;}
.hide_menu ul li{list-style:none;}
.hide_menu ul li a{text-decoration:none;width:100%;padding:5px 10px;box-sizing:border-box;color:#212b36;}
.hide_menu ul li:hover{background:#f7f7f8;}
.hide_menu ul li:first-child{background:rgba(0, 171, 85, 0.08);}
.hide_menu ul li span{text-indent:-99999px;width:18px;display:block;margin-right:10px;}
.hide_menu ul li span.home_icon{background:url(./images/m_homeicon.png)no-repeat;background-size:100%;}
.hide_menu ul li span.swap_icon{background:url(./images/m_swapicon.png)no-repeat;background-size:100%;}
.hide_menu ul li span.liquidity_icon{background:url(./images/m_liquidityicon.png)no-repeat;background-size:100%;}
.hide_menu ul li span.farms_icon{background:url(./images/m_farmsicon.png)no-repeat;background-size:100%;}
.hide_menu ul li span.connect_icon{background:url(./images/m_connecticon.png)no-repeat;background-size:100%;}
.hide_menu ul li::before{display:none;}

/* section Top*/
.top_wrap{width:100%;background:url("./images/top_bg_B.png") no-repeat center top;background-size:cover;}
.cont{width:100%;max-width:1280px;margin:0 auto;padding:150px 40px 0;}
.cont .cont_top{display:flex;align-items:center;}
.cont .home_title{font-size:45px;color:#fff;line-height:50px;margin-bottom:25px;}
.cont .home_subtit{font-size:16px;color:#fff;margin-bottom:25px;}
.cont .current_time{font-size:16px;line-height:19px;opacity:0.7;color:#fff;margin-bottom:40px;}
.cont .current_time span{margin-right:5px;}
.cont .start_btn{background:#00ab55;border:none;padding:13px 50px;color:#fff;font-size:15px;border-radius:8px;text-align:left;margin-left:10px;}
.cont .top_buyline{display:flex;padding:30px;background:#DBF7E0;border-radius:8px;width:41.5%;margin-left: auto;flex-direction:column;justify-content:center;height:330px;}
.cont .top_buyline .buy_name{font-size:28px;color:#00ab55;margin-bottom:20px;text-align:left;}
.cont .top_buyline .buy_num{font-size:46px;color:#005046;font-weight:bold;margin-bottom:40px;text-align:left;}
.cont .top_buyline .buy_btnwrap{width:100%;}
.cont .top_buyline .buy_btnwrap input[type=button]{border:none;border-radius:8px;box-sizing:border-box;padding:14px 35px;font-size:18px;color:#fff;background:#00ab55;width:100%;}

.cont .input_wrap{padding-top:50px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.cont .input_wrap .taal_info{width:32%;margin-bottom:30px;}
.cont .input_wrap .taal_info:last-child{width:66%;}
.cont .input_wrap .taal_info ul{box-sizing:border-box;background:#fff;border-radius:8px;padding:25px;}
.cont .input_wrap .taal_info:nth-child(4) ul{height:216px;}
.cont .input_wrap .taal_info ul li{list-style:none;display:flex;align-items:center;box-sizing:border-box;margin-bottom:20px;}
.cont .input_wrap .taal_info ul li:nth-child(2){margin-bottom:10px;align-items:flex-end;}
.cont .input_wrap .taal_info ul li .info_title{font-size:16px;color: #637381;margin-left:10px;}
.cont .input_wrap .taal_info ul li .info_num{font-size:38px;color:#212B36;}
.cont .input_wrap .taal_info ul li .info_name{font-size:18px;color:#637381;margin-left:10px;}
.cont .input_wrap .taal_info ul li .info_subname{color:#637381;font-size:13px;}
.cont .input_wrap .info_portfolio ul{display:flex;flex-wrap:wrap;height:216px;}
.cont .input_wrap .info_portfolio ul li{width:50%;margin:0;}
.cont .input_wrap .info_portfolio ul li:first-child{width:100%;margin-bottom:20px;}
.cont .input_wrap .info_portfolio ul li:nth-child(2){margin-bottom:0;}
.cont .input_wrap .info_portfolio ul li .info_title{margin:0;color:#212B36;font-size:18px;}
.cont .input_wrap .info_portfolio ul .list_progressbar div{width:100%;text-align:left;padding-right:20px;}
.cont .input_wrap .info_portfolio ul .list_progressbar div .progressbar_title{margin-bottom:15px;font-size:14px;}
.cont .input_wrap .info_portfolio ul .list_progressbar div .progressbar{margin-bottom:20px;text-indent:-999999px;background:#FEF7CF;position: relative;overflow:hidden;border-radius:16px;height:10px;}
.cont .input_wrap .info_portfolio ul .list_progressbar div .progressbar::before{content: "";display:block;position:absolute;width:100%;height:100%;border-radius:16px;background:#FEC101;left:-20%;}
.cont .input_wrap .info_portfolio ul .list_progressbar div .progressbar_num{text-align:right;font-size:18px;color:#637381;}
.cont .input_wrap .info_portfolio ul .list_progressbar div .progressbar_num span{margin-right:10px;color:#212b36;}
.cont .input_wrap .info_portfolio ul .list_date ul{padding:0 0 0 20px;height:auto;width:100%;}
.cont .input_wrap .info_portfolio ul .list_date ul li{width:100%;display:flex;justify-content:space-between;}
.cont .input_wrap .info_portfolio ul .list_date ul li div .date_title{font-size:18px;color:#212b36;}
.cont .input_wrap .info_portfolio ul .list_date ul li div .date_num{font-size:18px;color:#212b36;margin-right:10px;}
.cont .input_wrap .info_portfolio ul .list_date ul li div .date_name{color:#637381;font-size:18px;}

.cont .farms_wrap{padding:14px 0 34px;}

/* section Bottom */
.bottom_wrap{width:100%;background:#DBF7E0;margin-bottom:400px;}
.bottom_wrap .bottom_cont{padding:0 40px;}
.taal_idobox{width:100%;display:flex;box-sizing:border-box;padding:100px 60px;align-items:center;max-width:1280px;}
.taal_idobox .ido_textwrap{width:60%;text-align:left;}
.taal_idobox .ido_textwrap p{font-size:45px;color:#212B36;line-height:55px;font-weight:600;}
.taal_idobox .ido_textwrap div{display:flex;flex-direction:column;}
.taal_idobox .ido_textwrap div p{margin-bottom:20px;}
.taal_idobox .ido_textwrap input[type=button]{box-sizing:border-box;padding:10px 30px;border-radius:8px;background:#00ab55;color:#fff;border:none;}
.taal_idobox .ido_imgwrap{width:40%;text-align:right;}
/* Footer */
.footer_wrap{width:100%;background:#161C24;}
.footer_cont{display:flex;justify-content:space-between;width:100%;margin:0 auto;box-sizing:border-box;padding:40px 0;max-width:1280px;}
.footer_cont .footer_left{display:flex;align-items:center;}
.footer_cont .footer_left p{color:#fff;font-size:14px;width:100%;margin-left:20px;}
.footer_cont .footer_menu{display:flex;align-items:center;}

/* mobile */
@media screen and (max-width: 1280px){
.cont .top_buyline{margin-left:50px;width:50%;}
}


@media screen and (max-width: 960px){
/* topbar */
.tabbar_wrap{padding:20px 0;align-items:center;}
.tabbar_wrap .top_logo{margin-left:30px;}
.top_logochange{margin-left:30px;}
.tabbar_wrap .top_menu{display:none;}
.mobile_menu{display:block;width:24px;margin-right:30px;}
.mobilenav_icon{background:url(./images/mobile_nav_icon2.png) no-repeat;width:24px;border:none;background-size:100%;cursor: pointer;}
.change_header .mobilenav_icon{background:url(./images/mobile_nav_icon.png) no-repeat;width:24px;border:none;background-size:100%;cursor: pointer;}

/* section */
.top_wrap .cont{padding-top:120px;}
.cont{padding:0 20px;}
.cont .cont_top{flex-wrap:wrap;justify-content:center;text-align:center;}
.cont .home_title{font-size:36px;line-height:1.25;}
.cont .current_time{margin-bottom:30px;}
.cont .start_btn{margin-bottom:40px;margin-left:0;}
.cont .top_buyline{width:100%;margin:0;padding:30px;height:auto;max-width:480px;}
.cont .top_buyline .buy_name{font-size:25px;text-align: center;margin-bottom:10px;}
.cont .top_buyline .buy_num{font-size:28px;text-align: center;margin-bottom:20px;}
.cont .top_buyline .buy_btnwrap input[type=button]{padding:10px 25px;max-width:140px;}
.cont .input_wrap {padding-top:80px;flex-wrap:nowrap;flex-direction:column;}
.cont .input_wrap .taal_info{width:100%;margin:0 auto;max-width:480px;}
.cont .input_wrap .taal_info:last-child{width:100%;}
.cont .input_wrap .taal_info ul{margin:0 0 40px 0;height:auto;}
.cont .input_wrap .taal_info:nth-child(4) ul{height:auto;}
.cont .input_wrap .taal_info ul li{width:100%;}
.cont .input_wrap .taal_portfolio{width:100%;}
.cont .input_wrap .taal_portfolio ul{margin:0;}
.cont .input_wrap .info_portfolio ul li:first-child{margin-bottom:20px;}
.cont .input_wrap .info_portfolio ul li:nth-child(2){margin-bottom:20px;}
.cont .input_wrap .taal_info ul li .info_title{font-size:20px;}
.cont .input_wrap .taal_info ul li .info_num{font-size:28px;}
.cont .input_wrap .taal_info ul li .info_name{font-size:14px;}
.cont .input_wrap .info_portfolio ul .list_progressbar div{padding-right:0;}
.cont .input_wrap .info_portfolio ul .list_progressbar div .progressbar_num{font-size:14px;}
.cont .input_wrap .info_portfolio ul .list_date ul{margin-bottom:0;padding-left:0;}
.cont .input_wrap .info_portfolio ul .list_date ul li{margin-bottom:10px;}
.cont .input_wrap .info_portfolio ul .list_date ul li div .date_title{font-size:14px;}
.cont .input_wrap .info_portfolio ul .list_date ul li div .date_num{font-size:14px;}
.cont .input_wrap .info_portfolio ul .list_date ul li div .date_name{font-size:14px;}
.taal_idobox{padding:30px 0;margin:0;width:100%;flex-wrap:wrap;}
.taal_idobox .ido_textwrap{width:100%;text-align:center;}
.taal_idobox .ido_textwrap div{flex-wrap:wrap;justify-content: center;}
.taal_idobox .ido_textwrap div a{margin:0 auto;}
.taal_idobox .ido_textwrap p{width:100%;font-size:32px;line-height:1.3333;}
.taal_idobox .ido_textwrap input[type=button]{margin-left:0;margin:10px 0;}
.taal_idobox .ido_imgwrap{width:100%;text-align:center;padding:30px 0;}
/* footer */
.footer_cont{flex-wrap:wrap;justify-content:center;padding:50px 0;}
.footer_cont .footer_left{flex-wrap:wrap;justify-content:center;width:100%;}
.footer_cont .footer_left p{text-align:center;margin:14px 0;font-size:13px;}
.footer_cont .footer_menu{margin-top:10px;}
}
@media screen and (max-width: 600px){
.cont .input_wrap .taal_info ul{padding:24px;}
}